#RewriteEngine On

# RewriteCond %{REQUEST_FILENAME} !-f

# RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule  ^kepada:(.*)$ index.php?nama=$1 [L]

# # RewriteRule ^(.*)$ index.php?kepada=$1 [QSA]

# RewriteRule (kepada):(.+) index.php?$1:$2 [L]